.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
todo-app-main/style-guide.md
todo-app-main/design/active-states-dark.jpg
todo-app-main/design/active-states-light.jpg
todo-app-main/design/desktop-design-dark.jpg
todo-app-main/design/desktop-design-light.jpg
todo-app-main/design/desktop-preview.jpg
todo-app-main/design/mobile-design-dark.jpg
todo-app-main/design/mobile-design-light.jpg
.gitignore
